body h1 {
	font-family: 'BrixSlab-ExtraLight', Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 126px;
	line-height: 117px;
}

body h2 {
	font-family: 'BrixSlab-ExtraLight', Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 60px;
	line-height: 1;
	text-transform: uppercase;
}

body h3 {
	font-family: 'Avenir LT W01 95 Black', "Helvetica Neue", Arial, Helvetica, Geneva, san-serif;
	font-weight: normal;
	font-size: 34px;
	line-height: 1;
}

body h4 {
	font-family: 'Avenir LT W01 45 Book', "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: normal;
	font-size: 24px;
	line-height: 1;
}

body h5 {
	font-family: 'BrixSlab-ExtraLight', Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 22px;
	line-height: 1;
}

iframe {
	max-width: 100%;
}

.navbar .navbar-inner .container .nav li {
	width: 33%;
}

.navbar .navbar-inner .container .nav li a,
.navbar-fixed-top .navbar-inner .container .nav li a {
	padding: 28px 0 24px 0;
	text-align: center;
	font-size: 18px;
	font-family: 'Avenir LT W01 95 Black', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 3px;
}

.page-id-6 .nav #our-story {
	color: #14b7ec;
}

.page-id-8 .nav #menu {
	color: #14b7ec;
}

.page-id-10 .nav #locations {
	color: #14b7ec;
}

#main-nav {
	border-bottom: 1px solid #eee;
}

.page-id-8 .header-image {
	background: url('img/header-ourstory.jpg') repeat-x left;
}

.page-id-8 .header-image {
	background: url('img/header-menu.jpg') repeat-x left;
}

.page-id-10 .header-image {
	background: url('img/header-locations.jpg');
}

.modal-header h3 {
	font-size: 18px;
	line-height: 27px;
}

.header_image {
	width: 100%;
	position: absolute;
	height: 265px;
	top: 0;
	z-index: 0;
}

h1.logo {
	width: 281px;
	height: 193px;
	float: left;
	text-indent: -9999px;
	margin-top: 36px;
	background: url('img/logo-inner.jpg') no-repeat;
}

.global-header .order-online {
	width: 107px;
	height: 89px;
	text-indent: -9999px;
	float: right;
	margin-right: 60px;
	background: url('img/order-online.png') no-repeat;
}

.navbar .navbar-inner .container .nav {
	width: 100%;
}

.page-id-6 .nav #our-story {
	color: #14b7ec;
}

.page-id-8 .nav #menu {
	color: #14b7ec;
}

.page-id-10 .nav #locations {
	color: #14b7ec;
}

#main-nav {
	border-bottom: 1px solid #eee;
}

#slidewrapper {
	width: 100%;
	overflow: hidden;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	min-width: 1600px;
	height: 581px;
	padding: 0;
	margin: 0 0 0 -800px;
	left: 50%;
}

.rslides li {
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	min-width: 100%;
	min-height: 581px;
	width: auto;
	border: 0;
}

@media (min-width: 1600px) {
	.rslides {
		position: relative;
		list-style: none;
		overflow: hidden;
		width: 100%;
		min-width: 1600px;
		height: 581px;
		padding: 0;
		margin: 0;
		left: 0;
	}

	.rslides li {
		position: absolute;
		display: none;
		width: 100%;
		left: 0;
		top: 0;
	}

	.rslides img {
		display: block;
		height: auto;
		float: left;
		min-width: 100%;
		min-height: 581px;
		width: auto;
		border: 0;
	}

	#overtabs {
		position: absolute;
		width: 100%;
		z-index: 1;
	}

	.page-id-4 #overtabs .container h2 {
		font-family: 'BrixSlab-ExtraLight', Georgia, 'Times New Roman', Times, serif;
		font-weight: normal;
		font-size: 117px;
		line-height: 108px;
		color: #513623;
		text-transform: none;
		margin-top: 50px;
	}

	.story {
		padding: 130px 0 102px 0;
		background: url('img/story-gradient.gif') repeat-x left bottom #f2f2f2;
	}

	.error404 .story {
		padding: 200px 0;
	}

	.story h2 {
		position: relative;
		z-index: 1;
	}

	.error404 .story h2 {
		text-transform: none;
	}

	.story p {
		font-family: 'Avenir LT W01 45 Book', "Helvetica Neue", Arial, Helvetica, Geneva, san-serif;
		font-weight: normal;
		font-size: 28px;
		line-height: 35px;
		position: relative;
		z-index: 1;
	}

	.story-img {
		position: absolute;
		background: url('img/story-img.png') no-repeat left top;
		width: 600px;
		height: 516px;
		z-index: 0;
		margin-top: -107px;
		margin-left: -560px;
	}

	.error404  .story-img {
		background: url('img/404-img.png') no-repeat left top;
	}

	#boxes {
		padding: 28px 0 18px 0;
	}

	#boxes .span4 {
		height: 316px;
		width: 316px;
		margin-bottom: 16px;
		text-align: center;
		overflow: hidden;
		font-size: 15px;
		font-family: 'Avenir LT W01 45 Book', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
		font-weight: normal;
	}

	#boxes .span4 .transitioner {
		width: 316px;
		position: relative;
		top: 0;
		left: 50%;
		margin-left: -158px;
		height: 623px;
		-webkit-transition: top .5s ease-in-out 0s;
		-moz-transition: top .5s ease-in-out 0s;
		-o-transition: top .5s ease-in-out 0s;
	}

	#boxes .span4 .transitioner p {
		background: url('img/2-circle-white.png');
		width: 210px;
		height: 90px;
		padding: 80px 20px;
		position: relative;
		left: 50%;
		margin-left: -125px;
		margin-top: 33px;
		color: #000;
		font-size: 20px;
		line-height: 24px;
	}

	#menu-links {
		text-align: right;
		padding: 50px 0 35px 0;
	}

	#menu-links a {
		padding: 11px 0 11px 33px;
		margin-left: 20px;
		color: #14b7ec;
	}

	#menu p {
		width: 100%;
		padding-left: 0;
	}

	#location-content, #other-pages {
		padding: 50px 20px 20px;
	}

	.page-id-10 hr, .page-id-47 hr {
		width: 100%;
	}

	#locations-content img {
		width: 100%;
		height: auto;
	}

	#z_main {
		width: 100%;
	}

	#z_content.cart-right #z_main_column {
		margin-right: 0;
	}

	#z_content.cart-right #z_sidebar {
		margin-left: 0;
		width: 100%;
	}

	.order-online-bar a {
		background: url('img/order-online-bar-retina.png') no-repeat left top;
		-webkit-background-size: 36px 72px;
		-o-background-size: 36px 72px;
		background-size: 36px 72px;
	}

	.social-links #facebook {
		background: url('img/social-facebook-retina.gif') no-repeat 0 0;
		-webkit-background-size: 42px 84px;
		-o-background-size: 42px 84px;
		background-size: 42px 84px;
	}

	.social-links #twitter {
		background: url('img/social-twitter-retina.gif') no-repeat 0 0;
		-webkit-background-size: 42px 84px;
		-o-background-size: 42px 84px;
		background-size: 42px 84px;
	}

	.social-links #youtube {
		background: url('img/social-youtube-retina.gif') no-repeat 0 0;
	}
}



