#hawaii {
	text-align: center;
	color: green;
}

#menu {
  -webkit-transform: matrix(0.819152044288992, -0.573576436351046, 0.573576436351046, 0.819152044288992, -62.7433064748642, 70.7903771186541);
  -webkit-transform-origin: 0px 0px;
  background-color: rgb(245, 245, 245);
  box-sizing: border-box;
  color: rgb(65, 65, 66);
  display: block;
  font-family: Arial;
  font-size: 16px;
  height: 92.7916641235352px;
  left: -20px;
  line-height: 24px;
  padding-top: 32px;
  position: absolute;
  text-align: center;
  top: -16px;
  transform: matrix(0.819152044288992, -0.573576436351046, 0.573576436351046, 0.819152044288992, -62.7433064748642, 70.7903771186541);
  transform-origin: 0px 0px;
  width: 250px;
}